# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# client dependencies
/client/node_modules
/client/.pnp
.pnp.js

# client testing
/client/coverage

# client production
/client/build


# server dependencies
/server/node_modules
/server/.pnp
.pnp.js

# server testing
/server/coverage

# server production
/server/build
